# Core Frameworks
langchain
langgraph
chromadb
paddlepaddle
paddleocr=2.1.0
# torch=2.0.1+cu117
# torchvision=0.15.2+cu117
# torchaudio=2.0.2+cu117

# Install torch, torchvision, and torchaudio with CUDA support using the following command:
# pip install torch==2.0.1+cu117 torchvision==0.15.2+cu117 torchaudio==2.0.2+cu117 -f https://download.pytorch.org/whl/cu117/torch_stable.html

# Utilities
python-dotenv
fastapi
uvicorn

# Testing
pytest
langchain-community
sentence-transformers
atlassian-python-api
